# Ignore Colab-specific files
.ipynb_checkpoints/
*.ipynb
sample_data/

# Ignore Python-related files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore dataset and model files
*.pt
*.jpg
*.jpeg
*.png
*.gif

# Ignore temporary files
*.tmp
*.log

# Ignore system files
.DS_Store
